@media(max-width: 1150px) {
	.header .container {
		width: 1100px;
	}
}

@media(max-width: 1100px) {
	.header .container {
		width: 1050px;
	}

	.tree {
		margin-left: 100px;
	}
}

@media(max-width: 1050px) {
	.header .container {
		width: 1000px;
	}
}

@media(max-width: 1000px) {
	.header .container {
		width: 950px;
	}

	.cloud:nth-child(1) {
		animation-duration: 45s;
	}

	.cloud:nth-child(2) {
		animation-duration: 75s;
	}

	.cloud:nth-child(3) {
		animation-duration: 55s;
	}

	.cloud:nth-child(4) {
		animation-duration: 105s;
	}

	.sun {
		animation-duration: 55s;
	}

	.tree {
		margin-left: 80px;
	}

	.car {
		top: -30px;
		animation-duration: 15s;
	}

	.car-2 {
		top: -30px;
		animation-duration: 15s;
	}

	.bus {
		top: -35px;
		animation-duration: 20s;
	}

	.flower {
		margin-left: 80px;
	}

	.flower_litler {
		margin-left: 110px;
	}
}

@media(max-width: 950px) {
	.header .container {
		width: 900px;
	}
}

@media(max-width: 900px) {
	.header .container {
		width: 850px;
	}
}

@media(max-width: 850px) {
	.header .container {
		width: 800px;
	}

	.tree {
		margin-left: 60px;
	}

	.flower {
		margin-left: 50px;
	}

	.flower_litler {
		margin-left: 80px;
	}

	@keyframes drive {
		from{
			transform: translateX(-230px);
		}
		to{
			transform: translateX(1000px);
		}
	}

}

@media(max-width: 800px) {
	.header .container {
		width: 750px;
	}
}

@media(max-width: 750px) {
	.header .container {
		width: 700px;
	}
}

@media(max-width: 700px) {
	.header .container {
		width: 650px;
	}

	.tree {
		margin-left: 40px;
	}

	.flower {
		margin-left: 50px;
	}

	.flower_litler {
		margin-left: 60px;
	}

	@keyframes drive {
		from{
			transform: translateX(-230px);
		}
		to{
			transform: translateX(900px);
		}
	}

}

@media(max-width: 650px) {
	.header .container {
		width: 600px;
	}
}

@media(max-width: 600px) {
	.header .container {
		width: 550px;
	}

	.tree {
		margin-left: 30px;
	}

	.flower {
		margin-left: 40px;
	}

	.car {
		animation-duration: 20s;
		animation-iteration-count: infinite;
	}
}

@media(max-width: 550px) {
	.header .container {
		width: 500px;
	}

	.flower {
		margin-left: 30px;
	}

	.flower_litler {
		margin-left: 40px;
	}

	@keyframes drive {
		from{
			transform: translateX(-230px);
		}
		to{
			transform: translateX(800px);
		}
	}
}

@media(max-width: 500px) {
	.header .container {
		width: 450px;
	}

	.tree {
		margin-left: 20px;
	}

	.flower {
		margin-left: 20px;
	}
}

@media(max-width: 450px) {
	.header .container {
		width: 400px;
	}

	.tree {
		margin-left: 10px;
	}

	.flower {
		margin-left: 20px;
	}

	.flower_litler {
		margin-left: 30px;
	}
}

@media(max-width: 400px) {
	.header .container {
		width: 350px;
	}

	.tree {
		margin-left: 5px;
	}

	.flower {
		margin-left: 10px;
	}

	.flower_litler {
		margin-left: 20px;
	}
}

@media(max-width: 350px) {
	.header .container {
		width: 300px;
	}

	.flower {
		margin-left: 7px;
	}

	.flower_litler {
		margin-left: 20px;
	}
}

@media(max-width: 300px) {
	.header .container {
		width: 95%;
	}

	.tree {
		margin-left: auto;
	}

	.flower {
		margin-left: auto;
	}

	.flower_litler {
		margin-left: auto;
	}
}