* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	box-sizing: border-box;
}

.header .container {
	width: 1140px;
	margin: 0 auto;
}

.sky {
	background-color: skyblue;
	width: 100%;
	height: 40vh;
	position: relative;
	overflow: hidden;
}

.cloud:nth-child(1) {
	position: absolute;
	top: 5px;
	right: 40px;
	animation: wind 40s linear infinite reverse;
	transform: scale(1.2);
	z-index: 1;
}

.cloud:nth-child(2) {
	position: absolute;
	top: 100px;
	right: 200px;
	animation: wind 65s linear infinite reverse;
	opacity: 0.6;
}

.cloud:nth-child(3) {
	position: absolute;
	top: 80px;
	left: 180px;
	animation: wind 50s linear infinite reverse;
	transform: scale(1.2);
	opacity: 0.7;
}

.cloud:nth-child(4) {
	position: absolute;
	top: 30px;
	left: 50%;
	opacity: 0.5;
	animation: wind 100s linear infinite reverse;
	z-index: 1;
	transform: scale(1.1);
}

.sun {
	position: absolute;
	top: -225px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0.5;
	animation: sunny 50s linear infinite;
}

.grass {
	background-color: seagreen;
	width: 100%;
	height: 10vh;
	position: relative;
}

.tree {
	margin-left: 120px;
}

.road {
	width: 100%;
	height: 30vh;
	background-color: darkgray;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	border-top: 10px solid gray;
	border-bottom: 10px solid gray;
	overflow: hidden;
}

hr {
	width: 100%;
	outline: none;
	border: none;
	border: 5px dashed white;
}

.car {
	position: absolute;
	top: -25px;
	left: 0;
	animation-name: drive;
	animation-duration: 10s;
	animation-fill-mode: backwards;
	animation-delay: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.06,.72,.89,.64);
}

.car-2 {
	position: absolute;
	top: -25px;
	left: 300px;
	animation-name: drive;
	animation-duration: 10s;
	animation-fill-mode: backwards;
	animation-delay: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.17,.67,.83,.67);
}

.bus {
	position: absolute;
	top: -25px;
	left: 0px;
	animation-name: drive;
	animation-duration: 15s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-direction: reverse;
	animation-timing-function: cubic-bezier(.17,.67,.83,.67);
}

.footer {
	width: 100%;
	height: 20vh;
	background-color: seagreen;
	position: relative;
	overflow: hidden;
}

.flower {
	margin-left: 100px;
	margin-top: 20px;
}

.flower_litler {
	margin-left: 130px;
	margin-top: 5px;
}

@keyframes drive {
	from{
		transform: translateX(-230px);
	}
	to{
		transform: translateX(1400px);
	}
}

@keyframes wind {
	from{
		left: -110px;
	}
	to{
		left: 100%;
	}
}

@keyframes sunny {
	from{
		top: -220px;
	}
	to{
		top: 100%;
	}
}
